{# Remove the container if you want to extend the Footer to full width. #}
<div class="container footer-container">

    <footer class="text-center text-white">
        {# Grid Container #}
        <div class="container-fluid p-4 pb-0">
            {# Social media section #}
            <section class="mb-4">
                {# Facebook #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                {# Twitter #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                {# Google #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                {# Instagram #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                {# Linkedin #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                {# Github #}
                <a class="btn btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            {# Social media section #}
        </div>
        {# Grid Container #}

        {# Copyright #}
        <div class="text-center p-3 copyright-section" style="background-color: rgba(0, 0, 0, 0.2);">
            ©2022 Copyright:
            <a class="text-white" href="https://krypcets.com/" target="_blank">KryptedKoncepts</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->