{% load static %}

<nav class="navbar navbar-expand-xl">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand" href="/">
            <img class="nav-logo for-big-screen" src="{% static 'images/etikiti.png' %}" alt="Cydeo Logo">
        </a>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item dropdown" id="user-menu">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{{ user.username }}</span>
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                            width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Log In</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>