{% extends 'base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load static %}
{% load bootstrap5 %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<link rel="stylesheet" href="{% static 'css/login-page.css' %}">
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="container">
        <a onclick="history.back()">
            <i class="fa-solid fa-arrow-left-long fa-2x"></i>
        </a>
        <div class="login-form">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}